Repository p2panda/p2panda, pull requests merged in 2021-12, with the labels that each got.

#130 Core structs for group encryption
  CHANGELOG.md
  p2panda-rs/Cargo.toml
  p2panda-rs/src/identity/author.rs
  p2panda-rs/src/lib.rs
  p2panda-rs/src/secret_group/codec.rs
  p2panda-rs/src/secret_group/commit.rs
  p2panda-rs/src/secret_group/error.rs
  p2panda-rs/src/secret_group/group.rs
  p2panda-rs/src/secret_group/lts/aead.rs
  p2panda-rs/src/secret_group/lts/ciphersuite.rs
  p2panda-rs/src/secret_group/lts/ciphertext.rs
  p2panda-rs/src/secret_group/lts/constants.rs
  p2panda-rs/src/secret_group/lts/epoch.rs
  p2panda-rs/src/secret_group/lts/error.rs
  p2panda-rs/src/secret_group/lts/mod.rs
  p2panda-rs/src/secret_group/lts/nonce.rs
  p2panda-rs/src/secret_group/lts/secret.rs
  p2panda-rs/src/secret_group/member.rs
  p2panda-rs/src/secret_group/message.rs
  p2panda-rs/src/secret_group/mls/constants.rs
  p2panda-rs/src/secret_group/mls/error.rs
  p2panda-rs/src/secret_group/mls/group.rs
  p2panda-rs/src/secret_group/mls/member.rs
  p2panda-rs/src/secret_group/mls/mod.rs
  p2panda-rs/src/secret_group/mls/provider.rs
  p2panda-rs/src/secret_group/mod.rs
  p2panda-rs/src/secret_group/tests.rs
Labels: p2panda-rs

#154 Remove distinction of system and application logs
  CHANGELOG.md
  p2panda-rs/src/entry/log_id.rs
Labels: p2panda-rs

#156 Use new `Operation` naming everywhere
  CHANGELOG.md
  README.md
  p2panda-js/README.md
  p2panda-js/openrpc.json
  p2panda-js/src/entry/entry.ts
  p2panda-js/src/instance/instance.test.ts
  p2panda-js/src/instance/instance.ts
  p2panda-js/src/instance/materialiser.ts
  p2panda-js/src/message/index.ts
  p2panda-js/src/message/message.ts
  p2panda-js/src/operation/index.ts
  p2panda-js/src/operation/operation.test.ts
  p2panda-js/src/operation/operation.ts
  p2panda-js/src/session/session.test.ts
  p2panda-js/src/session/session.ts
  p2panda-js/src/types.ts
  p2panda-js/src/utils.test.ts
  p2panda-js/src/utils.ts
  p2panda-js/src/wasm.test.ts
  p2panda-js/test/fixtures.ts
  p2panda-js/test/openrpc-template.json
  p2panda-js/test/test-data.json
  p2panda-rs/src/entry/decode.rs
  p2panda-rs/src/entry/encode.rs
  p2panda-rs/src/entry/entry.rs
  p2panda-rs/src/entry/entry_signed.rs
  p2panda-rs/src/entry/error.rs
  p2panda-rs/src/entry/tests.rs
  p2panda-rs/src/hash/hash.rs
  p2panda-rs/src/identity/key_pair.rs
  p2panda-rs/src/lib.rs
  p2panda-rs/src/message/message.rs
  p2panda-rs/src/message/message_encoded.rs
  p2panda-rs/src/message/mod.rs
  p2panda-rs/src/operation/error.rs
  p2panda-rs/src/operation/mod.rs
  p2panda-rs/src/operation/operation.rs
  p2panda-rs/src/operation/operation_encoded.rs
  p2panda-rs/src/schema/error.rs
  p2panda-rs/src/schema/message.rs
  p2panda-rs/src/schema/mod.rs
  p2panda-rs/src/schema/operation.rs
  p2panda-rs/src/schema/schema.rs
  p2panda-rs/src/test_utils/README.md
  p2panda-rs/src/test_utils/fixtures/defaults.rs
  p2panda-rs/src/test_utils/fixtures/mod.rs
  p2panda-rs/src/test_utils/fixtures/param_fixtures.rs
  p2panda-rs/src/test_utils/fixtures/templates.rs
  p2panda-rs/src/test_utils/fixtures/tests.rs
  p2panda-rs/src/test_utils/generate_test_data.rs
  p2panda-rs/src/test_utils/mocks/client.rs
  p2panda-rs/src/test_utils/mocks/logs.rs
  p2panda-rs/src/test_utils/mocks/materialisation/materialiser.rs
  p2panda-rs/src/test_utils/mocks/materialisation/processor.rs
  p2panda-rs/src/test_utils/mocks/node.rs
  p2panda-rs/src/test_utils/test_data/json_data.rs
  p2panda-rs/src/test_utils/utils.rs
  p2panda-rs/src/wasm.rs
Labels: p2panda-js, p2panda-rs

#160 Use trait for operation validation in `Schema`
  CHANGELOG.md
  p2panda-rs/src/schema/schema.rs
Labels: p2panda-rs

#157 Refactoring in `test_utils`
  CHANGELOG.md
  p2panda-rs/src/materialiser/filter.rs
  p2panda-rs/src/materialiser/marshall_entries.rs
  p2panda-rs/src/test_utils/constants.rs
  p2panda-rs/src/test_utils/fixtures/defaults.rs
  p2panda-rs/src/test_utils/fixtures/param_fixtures.rs
  p2panda-rs/src/test_utils/fixtures/templates.rs
  p2panda-rs/src/test_utils/fixtures/tests.rs
  p2panda-rs/src/test_utils/generate_test_data.rs
  p2panda-rs/src/test_utils/mocks/client.rs
  p2panda-rs/src/test_utils/mocks/constants.rs
  p2panda-rs/src/test_utils/mocks/materialisation/materialiser.rs
  p2panda-rs/src/test_utils/mocks/materialisation/processor.rs
  p2panda-rs/src/test_utils/mocks/mod.rs
  p2panda-rs/src/test_utils/mocks/node.rs
  p2panda-rs/src/test_utils/mocks/utils.rs
  p2panda-rs/src/test_utils/mod.rs
  p2panda-rs/src/test_utils/test_data/json_data.rs
  p2panda-rs/src/test_utils/utils.rs
Labels: p2panda-rs

#165 Update API to reflect document, hash format and JSON RPC changes
  CHANGELOG.md
  p2panda-js/README.md
  p2panda-js/openrpc.json
  p2panda-js/src/document/document.test.ts
  p2panda-js/src/document/document.ts
  p2panda-js/src/document/index.ts
  p2panda-js/src/document/materialiser.ts
  p2panda-js/src/entry/entry.ts
  p2panda-js/src/instance/index.ts
  p2panda-js/src/instance/instance.ts
  p2panda-js/src/session/session.test.ts
  p2panda-js/src/session/session.ts
  p2panda-js/src/types.ts
  p2panda-js/src/utils.ts
  p2panda-js/test/fixtures.ts
  p2panda-js/test/openrpc-template.json
  p2panda-js/test/test-data.json
  p2panda-rs/src/entry/entry.rs
  p2panda-rs/src/materialiser/filter.rs
  p2panda-rs/src/operation/mod.rs
  p2panda-rs/src/operation/operation.rs
  p2panda-rs/src/schema/operation.rs
  p2panda-rs/src/schema/schema.rs
  p2panda-rs/src/test_utils/constants.rs
  p2panda-rs/src/test_utils/fixtures/param_fixtures.rs
  p2panda-rs/src/test_utils/generate_test_data.rs
  p2panda-rs/src/test_utils/mocks/client.rs
  p2panda-rs/src/test_utils/mocks/logs.rs
  p2panda-rs/src/test_utils/mocks/materialisation/dag.rs
  p2panda-rs/src/test_utils/mocks/materialisation/materialiser.rs
  p2panda-rs/src/test_utils/mocks/materialisation/mod.rs
  p2panda-rs/src/test_utils/mocks/materialisation/processor.rs
  p2panda-rs/src/test_utils/mocks/mod.rs
  p2panda-rs/src/test_utils/mocks/node.rs
  p2panda-rs/src/test_utils/test_data/json_data.rs
  p2panda-rs/src/test_utils/utils.rs
  p2panda-rs/src/wasm.rs
Labels: p2panda-js

#161 Introduce basic `Instance` type
  CHANGELOG.md
  p2panda-rs/src/instance/error.rs
  p2panda-rs/src/instance/instance.rs
  p2panda-rs/src/instance/mod.rs
  p2panda-rs/src/lib.rs
  p2panda-rs/src/schema/schema.rs
Labels: p2panda-rs

#163 Update `Operation` and introduce `OperationWithMeta`
  CHANGELOG.md
  p2panda-js/openrpc.json
  p2panda-js/src/document/document.test.ts
  p2panda-js/src/document/document.ts
  p2panda-js/src/session/session.test.ts
  p2panda-js/src/session/session.ts
  p2panda-js/src/types.ts
  p2panda-js/test/fixtures.ts
  p2panda-js/test/test-data.json
  p2panda-rs/Cargo.toml
  p2panda-rs/src/entry/tests.rs
  p2panda-rs/src/materialiser/filter.rs
  p2panda-rs/src/materialiser/marshall_entries.rs
  p2panda-rs/src/operation/error.rs
  p2panda-rs/src/operation/mod.rs
  p2panda-rs/src/operation/operation.rs
  p2panda-rs/src/operation/operation_encoded.rs
  p2panda-rs/src/operation/operation_meta.rs
  p2panda-rs/src/schema/operation.rs
  p2panda-rs/src/schema/schema.rs
  p2panda-rs/src/test_utils/fixtures/defaults.rs
  p2panda-rs/src/test_utils/fixtures/param_fixtures.rs
  p2panda-rs/src/test_utils/fixtures/templates.rs
  p2panda-rs/src/test_utils/generate_test_data.rs
  p2panda-rs/src/test_utils/mocks/client.rs
  p2panda-rs/src/test_utils/mocks/node.rs
  p2panda-rs/src/test_utils/utils.rs
  p2panda-rs/src/wasm.rs
Labels: p2panda-rs

#172 Convert JavaScript configuration files to TypeScript or JSON
  CHANGELOG.md
  p2panda-js/.eslintrc.js
  p2panda-js/.eslintrc.json
  p2panda-js/.prettierrc.js
  p2panda-js/.prettierrc.json
  p2panda-js/jest.config.ts
Labels: p2panda-js

#173 Improve CI workflows, make it faster, add coverage report
  .github/workflows/js.yml
  .github/workflows/rust.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  p2panda-js/.nvmrc
Labels: CI
