Repository p2panda/p2panda, pull requests merged in 2022-01, with the labels that each got.

#180 Use `ciborium` for cbor serialization
  CHANGELOG.md
  p2panda-rs/Cargo.toml
  p2panda-rs/src/operation/operation.rs
  p2panda-rs/src/schema/schema.rs
Labels: p2panda-rs

#177 Remove `sqlx`, support u64 bit integers
  CHANGELOG.md
  p2panda-js/openrpc.json
  p2panda-js/src/entry/entry.ts
  p2panda-js/src/operation/operation.test.ts
  p2panda-js/src/operation/operation.ts
  p2panda-js/src/session/session.ts
  p2panda-js/src/types.ts
  p2panda-js/src/utils.test.ts
  p2panda-js/src/utils.ts
  p2panda-js/src/wasm.test.ts
  p2panda-js/test/fixtures.ts
  p2panda-js/test/openrpc-template.json
  p2panda-js/test/test-data.json
  p2panda-js/tsconfig.json
  p2panda-rs/Cargo.toml
  p2panda-rs/src/entry/decode.rs
  p2panda-rs/src/entry/encode.rs
  p2panda-rs/src/entry/entry.rs
  p2panda-rs/src/entry/entry_signed.rs
  p2panda-rs/src/entry/error.rs
  p2panda-rs/src/entry/log_id.rs
  p2panda-rs/src/entry/mod.rs
  p2panda-rs/src/entry/seq_num.rs
  p2panda-rs/src/hash/hash.rs
  p2panda-rs/src/identity/author.rs
  p2panda-rs/src/operation/operation.rs
  p2panda-rs/src/operation/operation_encoded.rs
  p2panda-rs/src/test_utils/constants.rs
  p2panda-rs/src/test_utils/fixtures/param_fixtures.rs
  p2panda-rs/src/test_utils/generate_test_data.rs
  p2panda-rs/src/test_utils/mocks/node.rs
  p2panda-rs/src/test_utils/test_data/json_data.rs
  p2panda-rs/src/test_utils/utils.rs
  p2panda-rs/src/wasm/entry.rs
  p2panda-rs/src/wasm/mod.rs
  p2panda-rs/src/wasm/operation.rs
  p2panda-rs/src/wasm/serde.rs
  p2panda-rs/src/wasm/tests/entry.rs
  p2panda-rs/src/wasm/tests/operation.rs
Labels: p2panda-js, p2panda-rs

#195 Add test to check main fn of generate-test-data
  p2panda-rs/src/test_utils/generate_test_data.rs
Labels: p2panda-rs

#194 Add JavaScript coverage reporting
  .github/workflows/js.yml
  CHANGELOG.md
  p2panda-js/.gitignore
  p2panda-js/jest.config.ts
  p2panda-js/package.json
Labels: p2panda-js, CI
