Repository p2panda/p2panda, pull requests merged in 2025-10, with the labels that each got.

#802 `p2panda-spaces`: events for group and space membership changes
  p2panda-spaces/Cargo.toml
  p2panda-spaces/src/encryption/message.rs
  p2panda-spaces/src/event.rs
  p2panda-spaces/src/group.rs
  p2panda-spaces/src/manager.rs
  p2panda-spaces/src/space.rs
  p2panda-spaces/src/tests.rs
Labels: p2panda-spaces

#815 Refactored `OrdererStore` in-memory implementation & SQLite support
  p2panda-store-next/migrations/20250928132846_create_ordering.sql
  p2panda-store-next/src/lib.rs
  p2panda-store-next/src/memory.rs
  p2panda-store-next/src/orderer/memory.rs
  p2panda-store-next/src/orderer/mod.rs
  p2panda-store-next/src/orderer/sqlite.rs
  p2panda-store-next/src/orderer/traits.rs
Labels: p2panda-store, p2panda-core

#816 Refactor partial orderer in `p2panda-stream`: Use latest stores and traits
  p2panda-core/src/hash.rs
  p2panda-core/src/lib.rs
  p2panda-core/src/operation.rs
  p2panda-core/src/traits.rs
  p2panda-store-next/Cargo.toml
  p2panda-store-next/src/lib.rs
  p2panda-store-next/src/orderer/memory.rs
  p2panda-store-next/src/orderer/mod.rs
  p2panda-store-next/src/orderer/sqlite.rs
  p2panda-store-next/src/orderer/traits.rs
  p2panda-store-next/src/test_utils.rs
  p2panda-stream/Cargo.toml
  p2panda-stream/src/lib.rs
  p2panda-stream/src/orderer.rs
  p2panda-stream/src/ordering/mod.rs
  p2panda-stream/src/ordering/partial/mod.rs
  p2panda-stream/src/ordering/partial/operations.rs
  p2panda-stream/src/ordering/partial/store.rs
Labels: p2panda-stream

#808 `p2panda-spaces`: key management
  p2panda-encryption/src/crypto/rng.rs
  p2panda-encryption/src/crypto/x25519.rs
  p2panda-encryption/src/key_bundle/key_bundle.rs
  p2panda-encryption/src/key_bundle/prekey.rs
  p2panda-encryption/src/traits/key_bundle.rs
  p2panda-spaces/src/auth/message.rs
  p2panda-spaces/src/config.rs
  p2panda-spaces/src/credentials.rs
  p2panda-spaces/src/encryption/message.rs
  p2panda-spaces/src/event.rs
  p2panda-spaces/src/forge.rs
  p2panda-spaces/src/group.rs
  p2panda-spaces/src/identity.rs
  p2panda-spaces/src/lib.rs
  p2panda-spaces/src/manager.rs
  p2panda-spaces/src/message.rs
  p2panda-spaces/src/space.rs
  p2panda-spaces/src/test_utils/key_store.rs
  p2panda-spaces/src/test_utils/message.rs
  p2panda-spaces/src/test_utils/mod.rs
  p2panda-spaces/src/test_utils/spaces_store.rs
  p2panda-spaces/src/tests.rs
  p2panda-spaces/src/traits/key_store.rs
  p2panda-spaces/src/traits/message.rs
  p2panda-spaces/src/traits/mod.rs
  p2panda-spaces/src/traits/spaces_store.rs
  p2panda-spaces/src/utils.rs
Labels: p2panda-spaces

#825 `p2panda-spaces`: expect `Forge` implementations to persist messages
  p2panda-spaces/src/group.rs
  p2panda-spaces/src/identity.rs
  p2panda-spaces/src/manager.rs
  p2panda-spaces/src/space.rs
  p2panda-spaces/src/test_utils/key_store.rs
  p2panda-spaces/src/test_utils/mod.rs
  p2panda-spaces/src/test_utils/spaces_store.rs
  p2panda-spaces/src/tests.rs
  p2panda-spaces/src/traits/key_store.rs
Labels: p2panda-spaces
